extends layout

block content
    h1 Express image upload for analysis
    h4 Demo of our cloud concepts

    h3 Upload Single File
    a(href="/search") Predict
    form(method="post", name="form1", action="/upload", enctype="multipart/form-data")
      fieldset
        legend Upload single File
        input(type="file", name="singleFile")
      div.actions
        button.btn.primary(type="submit") Upload
        button.btn.cancel(type="button") Cancel
